FACE_API_TOKEN=ganti-dengan-token-panjang-yang-sama-dengan-laravel
FACE_DETECTOR_MODEL=models/face_detection_yunet_2023mar.onnx
FACE_RECOGNIZER_MODEL=models/face_recognition_sface_2021dec.onnx
FACE_DETECTION_SCORE_THRESHOLD=0.6
FACE_MAX_DETECTION_DIMENSION=1280
MIN_FACE_QUALITY=0.45
FACE_API_HOST=127.0.0.1
FACE_API_PORT=8791
